<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMG344MF_BPauuiIHnLdB0utHxp5b__dg</string>
	<key>GCM_SENDER_ID</key>
	<string>1005952011240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haneol.BambooTreeForest</string>
	<key>PROJECT_ID</key>
	<string>bambootreeforest-e5d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>bambootreeforest-e5d5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005952011240:ios:5f9d174e05afe1d269725d</string>
</dict>
</plist>